:root{
  --gold: #FFD700
  --cyan: #00FFFF
  --magenta: #FF00FF
}

/* side and nav bar starts */
.nav-link {
  @apply border-slate-400 m-1 hover:border-b-2 ease-in duration-75 hover:text-slate-400 text-xl m-2 md:m-0 md:text-sm;
}
.nav-link .active {
  @apply border-b-2 text-slate-300 border-slate-300;
}
#navBarContainer {
  @apply bg-slate-900 shadow-slate-800 text-white shadow-md text-sm h-16 ;
}

#navBarContent{
  @apply fixed top-0 md:relative right-0 w-full sm:w-2/4 h-screen md:w-full md:h-full max-[767px]:bg-slate-950  flex-col md:flex-row justify-start md:justify-between items-center;
}

.nav-items {
  @apply flex flex-col m-2 md:flex-row md:space-x-10 font-medium items-center px-12 flex-wrap;
}
/* side and nav bar starts */
::-webkit-scrollbar-thumb {
  background-color: #718096;
}
.scrollbar-customized {
  @apply scrollbar-thin scrollbar-track-zinc-900 scrollbar-thumb-slate-400 scrollbar-thumb-rounded;
}
.ApiSection {
 @apply  mt-[4.5rem]
}
.wrapper{
    @apply flex flex-row md:flex-col px-2 my-3 justify-between items-center;
}
.wrapper .heading{
    @apply font-bold text-xl mb-3 underline underline-offset-8 text-slate-200 text-center
}
.sub-wrapper{
  @apply flex flex-col px-2 my-3;
}
.sub-wrapper .heading{
    @apply font-bold text-xl mb-3 underline underline-offset-8 text-slate-200 text-center
}
.tags{
    @apply flex flex-row mt-2 flex-wrap max-w-xs justify-center
}
.tags .tag{
    @apply bg-slate-800 font-medium hover:bg-slate-600 text-slate-300 w-fit p-1 px-4 m-1 rounded-full text-sm
}
.slate-btn-color{
  @apply text-slate-100 bg-slate-600 duration-300 ease-in-out hover:bg-slate-500 p-2 rounded-lg px-3
}
/* Card animation starts */
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: calc(100% - 20px);
} 

.card {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.card:hover::before {
  opacity: 1;
}

.gradientCreateApiNav{
  @apply bg-gradient-to-r from-slate-950 via-slate-800 to-slate-950 mt-3 p-2 text-gray-200 rounded-lg px-3
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(160, 160, 160, 0.199),
    transparent 40%
  );

  border-radius: inherit;
  content: "";
  opacity: 0;
  height: 100%;
  left: 0;
  transition: opacity 500ms;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}
/* Card animation ends */

/* Gradient text animation starts */
@keyframes background-pan {
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200% center;
  }
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
   #FFD700,
   #00FFFF,
   #FF00FF,
   #FFD700
    );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
/* Gradient text animation ends */